<header>
  <div class="container">
   <h1 class="navbar-brand navbar-brand_"><a href=""><img src="assets/logo.png" alt="Mthatha Accommodation - Logo" class="logo_large"><img src="img/logo_medium.png" alt="Eastern Cape Guest House - Logo" class="logo_medium"><span></span></a></h1>
  </div>
  <div class="follow-box">
    <div class="container">
      <ol class="follow_icon">
        <li><a href="https://www.facebook.com/idwalalamguesthouse/"><img src="assets/follow_icon1.png" alt="Idwala Lam Mthatha - Facebook Page"></a></li>
      </ol>
      <ol class="address_icon">
        <li><img src="assets/page1_icon1.png" alt="Mthatha"> 10139, Maqhinebeni Location, Viedgesville, 5099, Umtata, South Africa</li>
        <li><img src="assets/page1_icon2.png" alt="Mthatha Bed and Breakfast - Email"> <a href="mailto:bookings@idwalalam.com">bookings@idwalalam.com</a></li>
        <li><img src="assets/page1_icon3.png" alt="Umtata Guest House - Phone Number"> <a href="tel:+27(0)835932248">+27(0)835932248</a></li>
        <li><img src="assets/page1_icon3.png" alt="Qunu Guest House - Alternate Number"> <a href="tel:+27(0)728555560">+27(0)728555560</a></li>
      </ol>
    </div>
  </div>
</header>
